a:hover{
  color:green
}
* {
        margin: 0;
        padding: 0;
    }
    
    ul,li,ol{
        list-style:none;
    }
    body,main{
        display:flex;
    }
    body{
        flex-direction: column;
    }
    main{
        flex:auto;
    }
    aside{
        flex:1;
    }
    article{
        flex:3;
    }
